#leaf {
  animation-name: leaf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-box: fill-box;
  fill: darkolivegreen;
}

@keyframes leaf {
  0% {
    fill: yellow;
  }
  25% {
    fill: orange;
  }
  50% {
    fill: greenyellow;
  }
  100% {
    fill: green;
  }
}

#sun {
  animation-name: sun;
  animation-duration: 5s;
  animation-delay: 1s;
  fill: orangered;
  animation-iteration-count: infinite;
}

@keyframes sun {
  0% {
    fill: yellow;
  }
  25% {
    fill: orange;
  }
  50% {
    fill: orangered;
  }
  100% {
    fill: red;
  }
}
